@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }



html,  body{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background: #FFFFFF;
}

// Variables
$black: #181818;
$white: #ffffff;
$grey: #F1EDE9;
$blue: #A2FBF4;
$light-grey: #353639;
// Breakpoints
$mobile-landscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tablet-wide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px

// Basic layout
.container{
  max-width: 1440px;
  margin: 0 auto;
  @media (max-width: $tablet-wide){
      width: 100%;
  }
}


.navbar{
  .name{
    padding: 30px 24px;
    display: flex;
    align-items: center;
    a{
      font-size: 20px;
      text-decoration: none;
      color: $black;
      padding: 12px 18px;
      border: 2px solid rgba(0,0,0,0);
    }
    .logo{
      padding: 12px 0;
      font-size: 32px;
      font-weight: 500;
    }
    .menu{
      margin-left: 24px;
      font-size: 32px;
      &:hover{
        border: 2px solid $black;
      }
    }
  }
}

.logomark{
  img{
    height: 200px;
  }
}
.illus-list{
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 36px;
  -webkit-column-gap: 36px;
  column-gap: 36pxpx;
  padding: 24px;
  @media (max-width: $mobile-landscape){
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
  }
  .illus-wrap{
    display: inline-block;
    .illus{
      margin-bottom: 34px;
      position: relative;
      .img{
        img{
          width: 100%;
          &:hover{
            opacity: .9;

          }
        }
      }
      .dwn{
        position: absolute;
        bottom: -10px;
        right: 0;
        opacity: 0;
        transition: all ease 0.2s;
        a{
          display: block;
          padding: 8px 18px;
          background: $black;
          color: $white;
          border-radius: 4px;
          text-decoration: none;
        }
      }
      &:hover{

        .dwn{
          opacity: 1;
          bottom: -4px;
          right: 0;
        }
      }
    }
    h2{
      font-size: 24px;
      margin-top: 8px;
      margin-bottom: 24px;
    }
  }
}



.about{
  .about-img{
    padding: 24px;
    img{
      max-width: 500px;
    }
  }
  .about-wrap{
    padding: 24px;
    h1{
      font-size: 44px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    p{
      font-weight: 300;
      font-size: 22px;
      line-height: 180%;
      margin-top: 24px;
    }
    a{
      color: $black;
      font-weight: 500;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
    h2{
      font-size: 24px;
      margin-top: 40px;
    }

  }
}

.error{
  padding: 24px;
  margin-top: 80px;
  margin-bottom: 100px;
  h1{
    font-size: 30px;

  }
  p{
    margin-top: 22px;
    font-weight: 300;
    font-size: 18px;
  }
  a{
    font-weight: 400;
    color: $black;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

.info{
  @media (max-width: $mobile-landscape){
      margin-top: 80px;
  }
  .ak-info{
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    vertical-align: middle;
    @media (max-width: $mobile-landscape){
        vertical-align: top;
        height: auto;
    }
    .logomark{
      img{
        border-radius: 50%;
      }
    }
    .bio{
      margin-top: 10px;
      max-width: 590px;
      margin: 0 auto;
      h1{
        margin-top: 40px;
        font-size: 44px;
        font-weight: 700;
      }
      p{
        font-size: 20px;
        margin-top: 10px;
        line-height: 150%;
        padding: 24px;
        a{
          font-weight: 600;
          color: $black;
          text-decoration: none;
        }
      }
    }
    .social-info{
      margin-top: 60px;
      display: flex;
      vertical-align: middle;
      align-items: center;
      text-align: center;
      justify-content: center;
      @media (max-width: $mobile-landscape){
          margin-top: 20px;
          margin-bottom: 20px;
      }
      p{
        font-size: 16px;
      }
      a{
        color: $black;
        text-decoration: none;
      }
      .social-l{
        display: flex;
        flex-direction: row;
        margin-left: 24px;
        @media (max-width: $mobile-landscape){
              flex-direction: column;
        }
        li{
          list-style: none;
      		position: relative;
      		padding: 0 0 0 20px;
          @media (max-width: $mobile-landscape){
              padding: 12px 0;
          }
          &::before {
      			content: "";
      			position: absolute;
      			left: 0;
      			top: 5px;
      			width: 4px;
      			height: 4px;
            border-radius: 50%;
      			background-color: rgba(0,0,0,0.2);
            @media (max-width: $mobile-landscape){
                width: 0;
                height: 0;
            }
      		}
          &:first-child{
            padding-left: 0;
            &::before {
        			content: "";
        			position: absolute;
        			left: 0;
        			top: 5px;
        			height: 0;
              width: 0;
        		}
          }
        }
        a{
          font-size: 16px;
          font-weight: 500;
          display: block;
          margin-right: 18px;
          &:hover{
            opacity: 0.8;
            background: rgba(10,10,10,0.02);
            border-radius: 6px;
          }
          img{
            height: 22px;
          }
        }
      }
    }
  }

}

.tweets{
  .twitter-tweet{
    width: 50%!important;
    p{

    }
  }
}


.announce-wrapper{
  .an-details{
    text-align: center;
    padding: 24px 18px;
    p{
      color: $white;
      font-size: 20px;
      line-height: 150%;
      font-weight: 400;
      a{
        color: $white;
        text-decoration: none;
        strong{
          font-weight: 600;
        }
      }
      img{
        height: 46px;
        margin-top: -3px;
        margin-right: 2px;
        vertical-align: middle;
        @media (max-width: $mobile-landscape){
            display: block;
            margin: 0 auto;
        }
      }
    }
  }
  &.designletter{
    background: #0D38CE;
    img{
      height: 23px!important;
      margin-top: 3px;
      vertical-align: middle;
    }
    a{
      &:hover{
        background: none;
      }
    }
    span{
      color: $white;
      @media (max-width: $mobile-landscape){
          display: none;
      }
    }
  }
  &.ph{
    background: #da552f;
    // background: $black;
  }
}

.noted{
  margin-top: 36px;
  padding: 12px;
  @media (max-width: $mobile-landscape){
      margin-top: 20px;
      margin-bottom: 60px;
  }
  .noted-wrap{
    background: #B0E2FF;
    margin: 0 auto;
    border-radius: 12px;

    a{
      display: flex;
      vertical-align: middle;
      align-items: center;
      padding: 4px;
      justify-content: center;
      text-decoration: none;
      color: $black;
      img{
        height: 80px;
      }
      p{
        font-size: 22px;
        font-weight: 600;
        @media (max-width: $mobile-landscape){
            font-size: 18px;
            line-height: 140%;
        }
        span{
          font-weight: 800;
        }
      }
    }
  }
}
